## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 12
print (a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [5]:
mi_nombre = 'CAROLINA DE POLI'

5) Crear una variable que contenga un número complejo

In [13]:
nn_complejo = 1 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [14]:
type(nn_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [15]:
Pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [2]:
var1 = True
var2 = 'True'
type((var1, var2))
type(var1)
type(var2)

str

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [42]:
print('la variable 1 es de tipo ', type(var1), ' y la variable 2 es de tipo ', type(var2))

la variable 1 es de tipo  <class 'bool'>  y la variable 2 es de tipo  <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [43]:
var3 = 2 + 2.5

11) Realizar una operación de suma de números complejos

In [44]:
a = 1j
b = 1 + 2j
print(a + b)

(1+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [46]:
c = 5.1
print(c + b)
d = a + 3
print(d)

(6.1+2j)
(3+1j)

13) Realizar una operación de multiplicación

In [47]:
print(4*3)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [48]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [50]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [55]:
print(27 // 4)
a = 5
b = 2
print(a // b)

6
2

17) De la división de 27 entre 4 mostrar solamente el resto

In [57]:
print(27 % 4)
a = 27
b = 4
print(a % b)

3
3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [59]:
print(4*6 + 3)
print(b*6 + 3)

27
27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [4]:
var4 = 'una casa + '
var5= 'casas'
print((var4) + (var4) + (var4), 'son 3', (var5) )

una casa + una casa + una casa +  son 3 casas

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [90]:
2 == '2'

False

In [91]:
type(2)
type('2')

str

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [92]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [95]:
print('por que se usó coma en lugar de punto')
a=float('3.8')

por que se usó coma en lugar de punto

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [102]:
a= 3
a-= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [103]:
1 <<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [108]:
2+2

4

26) Realizar una operación válida entre valores de tipo entero y string

In [1]:
a= ' horas de practica '
b= 3 
c= 'he tenido '
print((c) + str(b) + (a))

he tenido 3 horas de practica